body {
  font-family: Arial, sans-serif;
  background-color: aqua;
}

header {
  background-color: #331d09;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
}

section {
  flex: 2;
  padding: 20px;
}

#movie-poster {
  width: 200px;
  height: 300px;
  background-color: #eee;
}
